.effect__container {
    position: absolute;
    width: 100vw;
    display: flex;
    flex-direction: column;
}
.letters__container {
    width: 50%;
    display: flex;
    justify-content: space-around;
    & h4 {
        font-size: xxx-large;
        color: var(--dark);
        text-align: start;
    }
}

.letter-resize h4 {
    font-size: 6rem;
    opacity: 0.6;
}
.letter-resize2 h4 {
    opacity: 0.4;
    transform: translateX(-10px);
}
.letter-resize3 h4 {
    font-size: 2rem;
    opacity: 0.3;
}
.letter-resize4 h4 {
    font-size: 1rem;
    opacity: 0.2;
    transform: translateY(-400px);
}