.contact__container {
    display: flex;
    width: 100%;
    background-color: var(--header-background);
    padding: 3rem;
    color: var(--dark);
    justify-content: center;
    gap: 4rem;
    & .contact__title {
        display: flex;
        width: 30%;
        gap: 2rem;
        flex-direction: column;
        & h2 {
            font-size: 3rem;
        }
        & img {
            max-width: 500px;
            align-self: flex-end;
        }
    }
}
.contact__form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    & .form-fields {
        display: flex;
        flex-direction: column;
        height: 60px;

        & label, input {
            font-size: 1.5rem;
            width: 500px;
        }
        & .errors {
            color: rgb(255, 32, 32);
            font-style: italic;
        }
    }
    & .field-message {
        height: 200px;
        
        & textarea {
            font-size: 1.2rem;
            height: 100%;
        }
    }
    & input, textarea {
        border-radius: 15px;
        padding: 0 1rem;
        background-color: var(--white);
        &::placeholder {
            font-style: italic;
        }
    }
    & textarea {
        padding: 1rem;
    }
    & button {
        width: 100%;
        margin: 0;
    }
}