.footer__container {
    height: 80px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 1rem;
    background-color: var(--header-background);
    font-family: 'Courier New', Courier, monospace;
    gap: 1rem;
}