.app-header {
    width: 100%;
    height: 70vh;
    background-color: var(--header-background);
    display: flex;
    justify-content: space-between;

    &__title {
        display: flex;
        flex-direction: column;
        width: 40%;
        height: 100%;
        justify-content: space-around;
        align-items: center;
        padding: 3rem;
        & img {
            width: 45%;
            margin-right: 5rem;
        }
        & h1 {
            font-size: xxx-large;
            color: var(--white);
            z-index: 10;
        }
        & h1:first-child {
            padding-left: 2rem;
        }
    }
    &__logo {
        justify-self: flex-start;
        width: 50%;
        &__img {
            margin-left: 10rem;
            width: 80%;
            z-index: 10;
        }
    }
    &__sublogo {
        position: absolute;
        height: 70vh;
        display: flex;
        gap: 30vw;
        align-items: flex-end;
        padding-left: 2vw;
        & h3 {
            font-size: 20vh;
            color: var(--dark);
        }
        & .letters {
            display: flex;
        }
    }
}