.navbar {
    display: flex;
    position: fixed;
    justify-content: space-between;
    top: 0;
    left: 0;
    background-color: var(--white);
    width: 100%;
    height: 80px;
    transform: translateY(-100px);
    transition: all 0.5s ease-out;
    z-index: 999;
    background-color: var(--header-background);
    padding: 0 5rem;
    align-items: center;

    &__logo {
        margin: 0;
        & img {
            width: 80px;
        } 
    }
    &__links {
        display: flex;
        gap: 2rem;

        & button {
            padding: 5px 15px;
            color: var(--white);
            border: 2px solid var(--white);
            border-radius: 50px;
            font-size: x-large;
            &:last-child {
                color: #35103B;
                background-color: var(--white);
            }
            &:hover {
                background-color: var(--dark);
                color: var(--white);
                border-color: var(--dark);
            }
        }
    }
}
.navbar-active {
    transform: translateY(0);
}