.offers__container {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 3rem;
}
.offer__container {
    width: 400px;
    height: 600px;
    background-color: var(--white);
    padding: 2rem;
    &:hover {
        background-color: var(--dark);
    }
    &:disabled {
        background-color: var(--header-background);
        cursor: no-drop;
        &::after {
            content: var(--disabled-button-text);
            background-color: var(--white);
            padding: 1rem;
            color: var(--header-background);
        }
    }
}
.offer {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 100%;
    height: 100%;
    color: var(--dark);

    & h3 {
        font-size: xxx-large;
        align-self: flex-start;
        background-color: var(--dark);
        color: var(--white);
        padding: 0 1rem;
        width: 310px;
        text-align: end;
        transform: translateX(-2rem);
        border-radius: 0 10px 10px 0;
    }
    & img {
        width: 100%;
        max-height: 300px;
        height: 300px;
    }
    & p {
        align-self: flex-start;
        text-align: left;
    }
    &__hover h4 {
        font-size: xx-large;
        color: var(--white);
    }
}