:root {
  --white: #fefefefe;
  --dark: #35103B;
  --header-background: #42537F;
  --app-background: rgb(206, 206, 206);
  --disabled-button-text:"prochainement";
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    margin: 0;
    font-family: "Arista 2.0", BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
  
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}

.App {
  background-color: var(--app-background);
}

.site-button {
  padding: 1rem;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 50px;
  margin-left: 10rem;

  &:hover {
      background-color: var(--white);
      color: var(--dark);
  }
}
  
@import url("reset.scss");
@import url("styles/navbar.scss");
@import url("styles/header.scss");
@import url("styles/offers.scss");
@import url("styles/contact.scss");
@import url("styles/footer.scss");
@import url("styles/_header__effect.scss");