button {
    margin: 0;
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    transition: all 0.5s;
}

input, textarea {
  all: unset;
}